<h2>PrimeNG Table</h2>
<p-table  selectionMode="single" [value]="sales" [(selection)]="selectedItems" [columns]="cols"
    [resizableColumns]="true" [reorderableColumns]="true" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pReorderableColumn pResizableColumn >
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

    
</p-table>

<h3 class="first">Basic</h3>
<input id="input" type="text" size="30" pInputText appInput [(ngModel)]="text"> 
