.footer {
    background: #cecece;
    color: black;
    line-height: 36px;
    padding: 0 20px;
    font-size: 12px;
  
    a {
      color:black;
      cursor: pointer;
    }
    &-copyright{
      display: flex;
      align-items:center;
      justify-content: space-between;
    }
  }


  