<div class="customizer-container" fxLayout="column">
    <h3 class="m-t-10">テーマの設定</h3>
    <mat-radio-group class="customizer-radio-group"  [(ngModel)]="themes" (change)="themesChange()">
      <mat-radio-button class="customizer-radio-button" *ngFor="let color of _colors" [value]="color.key">{{color.value}}
        
      </mat-radio-button>
    </mat-radio-group>
    <h3 class="m-t-10">フッターを隠す</h3>
    <mat-radio-group class="customizer-radio-group" [(ngModel)]="layout.footerLayout" (change)="layoutChange()"
      fxLayout="row">
      <mat-radio-button class="customizer-radio-button" value="show">いいえ</mat-radio-button>
      <mat-radio-button class="customizer-radio-button" value="hidden">はい</mat-radio-button>
    </mat-radio-group>

  </div>
