.customizer {
    &-container {
      width: 250px;
      height: 100%;
      padding: 15px;
    }
  
    &-radio-group {
      display: inline-flex;
      flex-direction: column;
    }
  
    &-radio-button {
      margin: 5px;
    }
  }
  h3{
    border-bottom: 1px solid #cccccc;
  }