:host{
    display: block;
}

.brand {
    position: relative;
    width: 250px;
    height: 64px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #333;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
} 
.icon {
  color:#fff
}
.label {
  margin-right: 70px;
  font-weight:bold;
  align-items: center;
  font-size: 22px;
  font-style:italic;
  color:#fff
}
