.main-toolbar {
    height: 64px;
    padding-left: 16px;
    background-color: aquamarine;
  }

  .iconLayout{
      display: flex;
      justify-content:space-between;
      align-items:center;
      flex-direction: row; 
  }

  .icon{
    cursor: pointer;
    user-select: none;
    margin-right: 20px;
  }
  