<mat-sidenav-container class="container">

    <mat-sidenav class="customizer" [position]="customizerSidenavAlign" mode="over" #customizer>
        <app-customizer [settings]="settings" (changelayout)="changelayout($event)"
            (changethemes)="changethemes($event)"></app-customizer>
    </mat-sidenav>

    <mat-sidenav class="sidenav-container" [position]="sidenavAlign" [mode]="sidenavMode" [opened]="sidenavOpen"
        #sidenav>
        <app-brand [color]="brandColor"></app-brand>
        <app-navigation [color]="navcolor" [navigationModel]="navigationModel"></app-navigation>
    </mat-sidenav>

    <mat-sidenav-content class="right-container" fxLayout="column">
        <app-header class="header" *ngIf="headerLayout == 'show'" [sidenav]="sidenav" [customizer]="customizer"
            [color]="headerColor">
        </app-header>
        <div class="main-container" #scrollContainer>
            <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
        </div>
        <app-footer class="footer" *ngIf="footerLayout == 'show'"> </app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>